<table>
    <thead>
    <tr>
       <th></th>
       <th>Ticker</th>
       <th style="text-align: right" (click)="sortBy('currentValue')">Current</th>
       <th style="text-align: right" (click)="sortBy('week')">Week</th>
       <th style="text-align: right" (click)="sortBy('month')">Month</th>
       <th style="text-align: right" (click)="sortBy('year')">Year</th>
       <th style="text-align: right" (click)="sortBy('twoYears')">2 Years</th>
       <th>Detail</th>
       <th style="text-align: right" (click)="sortBy('updated')">Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of all">
        <td class="icon-cell"><img [src]="item.icon"></td>
        <td class="name-cell">{{ item.name }}<span *ngIf="!item.name">{{ item.ticker }}</span></td>
        <td class="value-cell"><strong>{{ item.currentValue }}</strong> $</td>
        <td class="pct-cell" [class.red]="item.week < 0" [class.green]="item.week > 0">{{ item.week }}</td>
        <td class="pct-cell" [class.red]="item.month < 0" [class.green]="item.month > 0">{{ item.month }}</td>
        <td class="pct-cell" [class.red]="item.year < 0" [class.green]="item.year > 0">{{ item.year }}</td>
        <td class="pct-cell" [class.red]="item.twoYears < 0" [class.green]="item.twoYears > 0">{{ item.twoYears }}</td>
        <td><a [href]="'https://markets.businessinsider.com/stocks/' + item.ticker +'-stock'" target="_blank">Market Insider</a></td>
        <td style="text-align: right">{{ ago(item.updated) }}</td>
    </tr>
    </tbody>
</table>

